* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

#body-index{
    background-color: black;
    overflow-x: hidden;
}

body{
    background-color: rgba(163, 213, 255, 0.8);
}

nav {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color:#f28f3b;
    /* background-color: rgba(67, 179, 174, 0.8); */
    /* backdrop-filter: blur(5px); */
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

nav a:first-of-type{
    padding-top: 100px;
}

nav a {
    display: block;
    color: #f5f5dc;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 20px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    font-family: roboto;
}

a i {
    vertical-align: middle;  /* Zorgt voor een nette uitlijning met de tekst */
}

nav a:hover{
    text-decoration: line-through;
    color: #6c202d;
}

/* Styling voor het hamburger menu */


.nav-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    z-index: 1100; 
}

.nav-menu div {
    width: 30px;
    height: 4px;
    background-color: #f28f3b;
    margin: 4px 0;
    transition: all 0.3s ease;  
}


.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


.show {
    left: 0; 
}


body.menu-open {
    padding-left: 250px; 
    transition: padding-left 0.3s ease-in-out;
}

.close-menu {
    cursor: pointer;
    color: #f5f5dc;
    position: absolute;
    right: 10px;
    font-size: 50px;
    font-weight: bold;
}

.menu-image {
    width: 200px;
    height: auto;
    display: block;
    margin-left: 20px;
    margin-top: 70px;
}

/*  */

.gallery {
    display: flex;                     
    justify-content: center;           
    flex-wrap: wrap;                  
}

.gallery-item {
    width: calc(33.333% - 30px);      
    height: 200;                         
    padding-bottom: 33.333%;           
    margin: 15px;                     
    box-sizing: border-box;            
    overflow: hidden;                  
    position: relative;                
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;                       
    height: 100%;                      
    object-fit: contain;                 
    display: block;                    
    position: absolute;                
    top: 0;                           
    left: 0;                           
    transition: transform 0.3s;
    background-color: white;
}

.gallery-item img:hover {
    transform: scale(1.05);           
}


/* Buttons */

.filter-buttons{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.filter-buttons button {
    background: none;
    border: none;
    color: #f28f3b;
    font-family: roboto;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(108, 32, 45, 0.9);
    border-radius: 10px;
}

.filter-buttons button:hover {
    text-decoration: line-through;
    color: #6c202d;
}

/* Index+:3 */

.icon-container {
    display: flex;
    justify-content: flex-end;  
    gap: 15px;                 
    font-size: 22px;          
    align-items: center;       
    padding: 0 50px;          
}

.icon-container a{
    color: #f28f3b;
}

.background-container-index {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../img/lotus2.gif') center center/cover no-repeat;
    z-index: -1;
    filter: blur(8px);
}

.content {
    position: relative;
    z-index: 1;
    padding-top: 50px; /* Gebruik padding in plaats van margin */
    background-color: black;
    color: #f28f3b;
    font-family: Roboto, sans-serif;
    padding: 30px;
}

/* Scroll-effect op tekst */
.text-container h1, .text-container h2 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: #a3d5ff;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Achtergrond voor de project pages*/
.background-container {
    position: fixed;              
    top: 0;                       
    left: 0;                      
    width: 100vw;                
    height: 100vh;                
    background: url('../img/logo_website2.png') no-repeat; 
    background-size: auto;        
    background-repeat: repeat;    
    z-index: -1;                  
    filter: blur(10px);           
}


.h1-title h1{
    text-transform: uppercase;
    font-family: roboto;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #6c202d;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.text-container {
    position: relative;
    width: 100%;
    height: 70vh; 
}

/* Index */

.text-container h1, .text-container h2 {
    position: absolute;
    font-weight: bold;
    text-transform: uppercase;
    color: #a3d5ff;
    /*text-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); */
}

.word1 {
    font-size: 8vw;
    top: 20%;
    left: 10%;
    position: relative;
}

.word1::before {
    content: '';
    position: absolute;
    width: 79vw; 
    height: 5px; 
    background-color: #a3d5ff; 
    left: 0; 
    top: -20px; 
}

.word2 {
    font-size: 6vw;
    top: 40%;
    left: 50%;
}

.word3 {
    font-size: 10vw;
    bottom: 10%;
    right: 10%;
}

.word3::after {
    content: '';
    position: absolute;
    width: 53vw;
    height: 5px; 
    background-color: #a3d5ff; 
    left: 0;
    bottom: -10px;
}

/* .bio styling ;D */
.bio {
    color: #f28f3b;
    font-family: Roboto, sans-serif;
    margin-top: 20px;
}

.bio p {
    margin-bottom: 15px;
}

.bio a {
    text-decoration: none;
    color: #f28f3b;
}

.bio a:hover {
    color: #a3d5ff;
}

#footer-index{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #a3d5ff;
    font-family: roboto;
    margin-bottom: 0; 
    padding: 15px 0;
}


footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #f28f3b;
    font-family: roboto;
    margin-bottom: 0;  
    padding: 15px 0;
}

#footer-contact {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #f28f3b;
    font-family: roboto;
    margin-bottom: 0;  
    padding: 15px 0;
}





