* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

#body-index{
    background-color: black;
    overflow-x: hidden;
    min-height: 100vh;
}

body{
    background-color: #fcf5e5;
}

nav {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color:#ef2832;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

nav a:first-of-type{
    padding-top: 100px;
}

nav a {
    display: block;
    color: #fcf5e5;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 20px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    font-family: roboto;
}

a i {
    vertical-align: middle;  /* Zorgt voor een nette uitlijning met de tekst */
}

nav a:hover{
    text-decoration: line-through;
    color: #ff8fb4;
}

/* Styling voor het hamburger menu */

.nav-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    z-index: 1100; 
}

.nav-menu div {
    width: 30px;
    height: 4px;
    background-color: #ef2832;
    margin: 4px 0;
    transition: all 0.3s ease;  
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


.show {
    left: 0; 
}


body.menu-open {
    padding-left: 250px; 
    transition: padding-left 0.3s ease-in-out;
}

.close-menu {
    cursor: pointer;
    color: #f5f5dc;
    position: absolute;
    right: 10px;
    font-size: 50px;
    font-weight: bold;
}

.menu-image {
    width: 200px;
    height: auto;
    display: block;
    margin-left: 20px;
    margin-top: 70px;
}

/*styling voor de gallery items*/

.gallery {
    display: flex;                     
    justify-content: center;           
    flex-wrap: wrap;    
    background-color: #ef2832;
    border-radius: 3px;            
}

.gallery-item {
    width: calc(33.333% - 30px);      
    height: 200;                         
    padding-bottom: 33.333%;           
    margin: 15px;                     
    box-sizing: border-box;            
    overflow: hidden;                  
    position: relative;                
    box-shadow: 3px 3px 0px 0px #ff8fb4;
    border-radius: 3px;
}

.gallery-item img {
    width: 100%;                       
    height: 100%;                      
    object-fit: contain;                 
    display: block;                    
    position: absolute;                
    top: 0;                           
    left: 0;                           
    transition: transform 0.3s;
    background-color: white;
}

.gallery-item img:hover {
    transform: scale(1.05);           
}


/* Buttons */

.filter-buttons{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.filter-buttons button {
    font-family: roboto;
    font-size: 20px;
    color: #a3d5ff;
    padding: 10px 20px;
    background-color:#ef2832;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px #ff8fb4;
    border-radius: 3px;
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.filter-buttons button:hover {
    text-decoration: line-through;
    color: #ff8fb4;
}

/* Index + projects*/

.icon-container {
    display: flex;
    justify-content: flex-end;  
    gap: 15px;                 
    font-size: 22px;          
    align-items: center;       
    padding: 0 50px;          
}

.icon-container a{
    color: #ef2832;
}

/*background index */
.background-container-index {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../img/lotus2.gif') center center/cover no-repeat;
    z-index: -1;
    filter: blur(8px);
}

.content {
    position: relative;
    z-index: 1;
    padding-top: 50px;
    background-color: black;
    color: #f28f3b;
    font-family: Roboto, sans-serif;
    padding: 30px;
    min-height: 100vh;
}

/* Effect op tekst index */
.text-container h1, .text-container h2 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff8fb4;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.h1-title h1{
    text-transform: uppercase;
    font-family: roboto;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #ef2832;
    text-shadow: 3px 3px 0px #ff8fb4;
}

.text-container {
    position: relative;
    width: 100%;
    height: 70vh; 
}

/* Index-portfolio of Lotus */

.text-container h1, .text-container h2 {
    position: absolute;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff8fb4;
    /*text-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); */
}

.word1 {
    font-size: 8vw;
    top: 20%;
    left: 10%;
    position: relative;
}

.word1::before {
    content: '';
    position: absolute;
    width: 79vw; 
    height: 5px; 
    background-color: #ff8fb4; 
    left: 0; 
    top: -20px; 
}

.word2 {
    font-size: 6vw;
    top: 40%;
    left: 50%;
}

.word3 {
    font-size: 10vw;
    bottom: 10%;
    right: 10%;
}

.word3::after {
    content: '';
    position: absolute;
    width: 53vw;
    height: 5px; 
    background-color: #ff8fb4; 
    left: 0;
    bottom: -10px;
}

/* .bio styling index ;D */

.bio-content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
}

.bio-img {
    text-align: center;
    width: 40%;
    display: flex;
    justify-content: center;
}

.bio-img img {
    width: 1000px;
    height: auto;
    align-content: center;
    position: relative;
    right: 170px;
    bottom: 60px;
    top: 30px;
}

.moving-text {
    font-family: "Permanent Marker", serif;
    font-style: normal;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ff8fb4;
    display: inline-block;
    transform-origin: center; 
    animation: tilt 1s infinite alternate ease-in-out;
    position: relative; /* hier mee kan ik de tekst verhuizen */
    right: 1400px;
    top: 300px;
    animation: tilt 3s infinite ease-in-out;
}

@keyframes tilt {
    0% { transform: rotate(-10deg) scale(1); }
    50% { transform: rotate(10deg) scale(1.05); }
    100% { transform: rotate(-10deg) scale(1); }
}

.index-button{
    display: flex;
    justify-content: right;
    text-align: center;
    position: relative;
    right: 200px;
    top: 150px;
}

.index-button a {
    text-decoration: none;
    font-family: roboto;
    font-size: 20px;
    color: #a3d5ff;
    padding: 10px 20px;
    background-color:#ef2832;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px #ff8fb4;
    border-radius: 3px;
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 250px;
}

.index-button a:hover {
    text-decoration: line-through;
    color: #ff8fb4;
}

/*about me */
.about-me-container {
    width: 40%;
    margin: 0 auto;
}

.about-me-container img {
    display: block;
    margin: 0 auto; 
    width: 100%;
    height: auto;
}

/* footer */

footer{
    position: relative; /* Zorgt ervoor dat het een z-index kan hebben */
    z-index: 10;
    margin-top: auto;
    width: 100%;
    background-color: #ff8fb4;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
}

.footer-copy p{
    display: flex;
    justify-content: left;
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
    font-family: roboto;
    color: #ef2832;
}

.footer-links {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-links a{
    text-decoration: none;
    font-family: roboto;
    color: #ef2832; 
    margin-right: 15px;
    padding: 10px;
    font-size: 20px; 
}

.footer-links a:hover {
    text-decoration: line-through;
    color: #a3d5ff;
}

.footer-image img{
    max-height: 150px;
    align-items: center;
}

.footer-container h2{
    font-weight: bold;
    font-family: roboto;
    text-transform: uppercase;
    color: #ef2832;
    font-size: 40px;
    padding-bottom: 10px; 
    font-weight: bold;
}

.social-icons{
    margin-top: 10px;
    padding-top: 10px;
    gap: 15px;                 
    font-size: 22px;          
    align-items: center;       
    padding: 0 50px;  
}

.social-icons a{
    color: #ef2832;
}

#footer-services {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #a3d5ff;
    font-family: roboto;
    margin-bottom: 0;  
    padding: 15px 0;
}






